/* -------------------------------------------------------------------------
 Breadcrumbs
---------------------------------------------------------------------------- */
/**
 * Breadcrumb styles for first pattern. Your patterns/styles will vary.
 * You should link your main stylesheet up with Style Guide Boilerplate for
 * best results. When you update your site's styles, your style guide will
 * update as well.
 */
.breadcrumb {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  list-style: none;
  margin: 0 0 20px;
  padding: 8px 15px;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #fff;
  *zoom: 1;
}

.breadcrumb li a {
  color: #007f96;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #004068;
}

.breadcrumb li .divider {
  color: #767676;
  padding: 0 5px;
}

.breadcrumb .active {
  color: #555;
}