/* -------------------------------------------------------------------------
 Patterns
---------------------------------------------------------------------------- */
.btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	color: $color-primary;
	background-color: $color-default;
	border: 1px solid $color-border-default;
	padding: 0.5rem 1rem;
	transition: all .2s ease-in-out;
	cursor: pointer;
	border-radius: 0;
}

.btn:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
	background-color: lighten($color-default,25%);
	transition: all .2s ease-in-out;
}

.btn.disabled,
button[disabled],
input[disabled] {
	opacity: 0.3;
}
.btn.disabled:hover,
button[disabled]:hover,
input[disabled]:hover {
	background-color: $color-default;
	cursor: not-allowed;
}

/* -------------------------------------------------------------------------
 Primary
---------------------------------------------------------------------------- */
.btn.primary,
button.primary,
input[type=button].primary,
input[type=reset].primary,
input[type=submit].primary {
	color: $color-text-light;
	background-color: $color-primary;
	border: 1px solid $color-border-primary;
}

.btn.primary:hover,
button.primary:hover,
input[type=button].primary:hover,
input[type=reset].primary:hover,
input[type=submit].primary:hover {
	background-color: darken($color-primary,10%);
	border-color: darken($color-primary,10%);
}

.btn.primary.disabled:hover,
button[disabled].primary:hover,
input[disabled].primary:hover {
	background-color: $color-primary;
}

/* -------------------------------------------------------------------------
 success
---------------------------------------------------------------------------- */
.btn.success,
button.success,
input[type=button].success,
input[type=reset].success,
input[type=submit].success {
	color: $color-text-light;
	background-color: $color-success;
	border: 1px solid $color-border-success;
}

.btn.success:hover,
button.success:hover,
input[type=button].success:hover,
input[type=reset].success:hover,
input[type=submit].success:hover {
	background-color: darken($color-success,10%);
	border-color: darken($color-success,10%);
}

.btn.success.disabled:hover,
button[disabled].success:hover,
input[disabled].success:hover {
	background-color: $color-success;
}

/* -------------------------------------------------------------------------
 info
---------------------------------------------------------------------------- */
.btn.info,
button.info,
input[type=button].info,
input[type=reset].info,
input[type=submit].info {
	color: $color-text-light;
	background-color: $color-info;
	border: 1px solid $color-border-info;
}

.btn.info:hover,
button.info:hover,
input[type=button].info:hover,
input[type=reset].info:hover,
input[type=submit].info:hover {
	background-color: darken($color-info,10%);
	border-color: darken($color-info,10%);
}

.btn.info.disabled:hover,
button[disabled].info:hover,
input[disabled].info:hover {
	background-color: $color-info;
}

/* -------------------------------------------------------------------------
 warning
---------------------------------------------------------------------------- */
.btn.warning,
button.warning,
input[type=button].warning,
input[type=reset].warning,
input[type=submit].warning {
	color: $color-text-light;
	background-color: $color-warning;
	border: 1px solid $color-border-warning;
}

.btn.warning:hover,
button.warning:hover,
input[type=button].warning:hover,
input[type=reset].warning:hover,
input[type=submit].warning:hover {
	background-color: darken($color-warning,10%);
	border-color: darken($color-warning,10%);
}

.btn.warning.disabled:hover,
button[disabled].warning:hover,
input[disabled].warning:hover {
	background-color: $color-warning;
}

/* -------------------------------------------------------------------------
 danger
---------------------------------------------------------------------------- */
.btn.danger,
button.danger,
input[type=button].danger,
input[type=reset].danger,
input[type=submit].danger {
	color: $color-text-light;
	background-color: $color-danger;
	border: 1px solid $color-border-danger;
}

.btn.danger:hover,
button.danger:hover,
input[type=button].danger:hover,
input[type=reset].danger:hover,
input[type=submit].danger:hover {
	background-color: darken($color-danger,10%);
	border-color: darken($color-danger,10%);
}

.btn.danger.disabled:hover,
button[disabled].danger:hover,
input[disabled].danger:hover {
	background-color: $color-danger;
}