/* -------------------------------------------------------------------------
 Base Colors
---------------------------------------------------------------------------- */
//Do not change base variables. Override them where necessary.
$color-default:			#f4f4f4;
$color-primary:			#23a6ba;
$color-success:			#5cb85c;
$color-info:			#59c0de;
$color-warning:			#f0ad4e;
$color-danger:			#d9534f;

$color-text: 			#333;
$color-text-inactive: 	#ccc;
$color-text-light:		#fff;
$color-text-primary:	darken($color-primary, 15%);
$color-text-success:	darken($color-success, 15%);
$color-text-info:		darken($color-info, 15%);
$color-text-warning:	darken($color-warning, 15%);
$color-text-danger:		darken($color-danger, 15%);

$color-border-default:	darken($color-default, 5%);
$color-border-primary:	darken($color-primary, 5%);
$color-border-success:	darken($color-success, 5%);
$color-border-info:		darken($color-info, 5%);
$color-border-warning:	darken($color-warning, 5%);
$color-border-danger:	darken($color-danger, 5%);

$color-background-default:	$color-default;
$color-background-primary:	lighten($color-primary, 35%);
$color-background-success:	lighten($color-success, 35%);
$color-background-info:		lighten($color-info, 30%);
$color-background-warning:	lighten($color-warning, 30%);
$color-background-danger:	lighten($color-danger, 35%);

/* -------------------------------------------------------------------------
 Color Utility Classes

 These are for demonstration on the style guide only. Use the appropriate
 semantic class to properly apply color styles instead of these.
---------------------------------------------------------------------------- */
.color-default			{background-color: $color-default;}
.color-primary			{background-color: $color-primary;}
.color-success			{background-color: $color-success;}
.color-info				{background-color: $color-info;}
.color-warning			{background-color: $color-warning;}
.color-danger			{background-color: $color-danger;}

.color-text				{background-color: $color-text;}
.color-text-inactive	{background-color: $color-text-inactive;}
.color-text-primary		{background-color: $color-text-primary;}
.color-text-success		{background-color: $color-text-success;}
.color-text-info		{background-color: $color-text-info;}
.color-text-warning		{background-color: $color-text-warning;}
.color-text-danger		{background-color: $color-text-danger;}

.color-border-default	{background-color: $color-border-default;}
.color-border-primary	{background-color: $color-border-primary;}
.color-border-success	{background-color: $color-border-success;}
.color-border-info		{background-color: $color-border-info;}
.color-border-warning	{background-color: $color-border-warning;}
.color-border-danger	{background-color: $color-border-danger;}

.color-background-default	{background-color: $color-background-default;}
.color-background-primary	{background-color: $color-background-primary;}
.color-background-success	{background-color: $color-background-success;}
.color-background-info		{background-color: $color-background-info;}
.color-background-warning	{background-color: $color-background-warning;}
.color-background-danger	{background-color: $color-background-danger;}

/* -------------------------------------------------------------------------
 Fonts
---------------------------------------------------------------------------- */
$font-stack-sans:	'Lato', 'Helvetica', Helvetica, Arial, sans-serif;
$font-stack-serif:	'Palatino Linotype', 'Palatino', Georgia, Times, 'Times New Roman', serif;